<div>
    <h2>Todos los Productos</h2>
    {{#each listProducts}}
    <div>
        <hr>
        <h3>PRODUCTO: {{title}}</h3>
        <h3>DESCRIPCION: {{descripcion}}</h3>
        <h3>CATEGORIA: {{category}}</h3>
        <h3>STOCK: {{stock}}</h3>
        <hr>
    </div>
    {{/each}}
</div>